.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin-top: 1rem;
  margin-left: 1rem;
}

.card button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
}
.card {
}
